<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
  RewriteRule ^(.*) - [E=BASE:%1]

  # RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ run-example.php [QSA,L]
</IfModule>